docker-compose.*
docs
.git
.mypy_cache
.pytest_cache
.adr-dir
.*env*
.gitignore
README.md
Makefile
.mypy_cache
.pytest_cache
.local_certs/
.rx_local_certs/
.circleci
.DS_Store
.editorconfig
config/
.idea
scripts/db/
scripts/aws/
infrastructure/